* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF6F2;
  color: #212121;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

b {
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: #DED1BD;
}

.accent {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  color: #D49E8D;
}

.logo {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  color: #D49E8D;
}

.slogan {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  text-align: center;
  color: #683B2B;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 30px;
}

[type=text] {
  font-size: 17px;
  max-width: 320px;
  background: #FAF6F2;
  outline: none;
  border: 1px solid #B08401;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

[type=text]:focus {
  border: 1px solid #B08401;
  outline: none;
  box-shadow: 0 0 10px #D49E8D;
}

[type=submit] {
  width: 56px;
  padding: 10px;
  font-size: 17px;
  color: #683B2B;
  border-left: none;
  cursor: pointer;
  border-radius:  0 10px 10px 0;
  border: 1px solid #B08401;
  background: #D49E8D;
}

[type=submit]:hover,
.load-more:hover {
  background: #B08401;
  color: #FAF6F2;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}

.photo-card {
  width: 360px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #B08401;
  box-shadow: 0 0 10px #D49E8D;
  padding: 10px;
  transition: transform 0.3s;
}

.photo-card:hover {
  transform: scale(1.1);
}

.gallery__image {
  width: 340px;
  height: 240px;
  object-fit: cover;
}

.info {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 10px 0;
  color: #683B2B;
}

.load-more.is-hidden {
  display: none;
}

.load-more {
  width: 156px;
  font-size: 17px;
  font-weight: 600;
  padding: 10px;
  margin: 50px 0;
  background: #D49E8D;
  color: #683B2B;
  border: 1px solid #B08401;
  border-left: none;
  border-radius: 10px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
}

/* Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #D49E8D;
}

::-webkit-scrollbar-thumb {
  background: #B08401;
  border-radius: 10px;
}

/* Firefox */
::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background: #D49E8D;
}

::-moz-scrollbar-thumb {
  background: #B08401;
  border-radius: 10px;
}

/* Microsoft Edge */
::-ms-scrollbar {
  width: 10px;
}

::-ms-scrollbar-track {
  background: #D49E8D;
}

::-ms-scrollbar-thumb {
  background: #B08401;
  border-radius: 10px;
}